*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
}

.nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 30px;
 
}

.nav-logo{
    display: flex;
}

.nav-logo h1{
    color: white;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: row;
    gap:20px;
}
.nav-links h3{
    color: white;
    font-size:20px;
}

.box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap:30px;
}

.box2 img{
    width:25%;
}
.box2 button{
    
    background-color: orange;
    width: 90px;
    height: 32px;
    border: none;
}
.box2 h1{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}


    

.box3{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 60px;

}
.box3 button{
    
    background-color: orange;
    width: 90px;
    height: 32px;
    border: none;
}
.left{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;

}
.left h1{
    color: white;
    font-size: 40px;
    text-transform: uppercase;

}

.left p{
    color: white;
    font-size: 25px;
 

}
.left button{



}
.right{
    width:50%;
    display: flex;

    justify-content: center;
    align-items: center;
  

}


.right img{
    width: 50%;
}
.logo2{
    width:100%;
    display: flex;
    justify-content: start;
    padding: 60px 60px;
}
.logo2 h1{
    color: white;
    font-size: 80px;

}
 
.box4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px 20px;

}
.start{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid orange;
    padding: 80px 30px;

    
}
.start h1{
    
    font-size: 20px;
    padding: 50px 5px;

}
.start p{
    font-size: 10x;
    
    padding: 20px 5px;

}
.start button{
    width: 60px;
    background-color: orange;
    width: 90px;
    height: 32px;
    border: none;
    
}

    



.finalbox{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 100px 80px;
    color: white;
    

}
.finalbox hr{
    width: 80%;
    border-color:orangered;
}
    
    


.center{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 30px;
    color: white;
    
}
.paralast{
    padding: 30px 10px;
}


.head h1{
    
}
span{
    color: orange;
}
.lastline{
    padding: 30px 10px;
}
